img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

.cardContainer{
    padding: 2rem;
    border: 5px solid orange;
    border-radius: 20px;
    background-color: black;
}

h2{
    text-align: center;
    padding-top: 1rem;
}
